@model IEnumerable<UPtel.Models.Cargos>

@{
    ViewData["Title"] = "Index";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h1>Cargos</h1>

                <p>
                    <a class="btn btn-costum" asp-action="Create">Adicionar cargo</a>
                </p>
                @if (Model.Count() == 0)
                {
                    <p>Não existem dados para mostrar</p>
                }
                else
                {
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NomeCargo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomeCargo)
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.CargoId">Editar</a> |
                                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.CargoId">Detalhes</a> |
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CargoId">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                </div>
        </div>
    </div>
</section>