@model UPtel.Models.NetMovel

@{
    ViewData["Title"] = "Delete";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">

                <h3 class="font">Tem a certeza que quer apagar a internet móvel?</h3>

                <div>              
                    <dl class="row justify-content-center text-white">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7 ">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-7 ">
                            @Html.DisplayFor(model => model.Limite) Gb
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.PrecoNetMovel)
                        </dt>
                        <dd class="col-sm-7 ">
                            @Html.DisplayFor(model => model.PrecoNetMovel) €
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Notas)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Notas)
                        </dd>
                    </dl>

                    <form class="d-flex justify-content-sm-between align-content-center col-10" asp-action="Delete">
                        <input type="hidden" asp-for="NetMovelId" />
                        <button type="submit" class="btn btn-default btn-sm "><i class="far fa-trash-alt fa-2x imgEliminar"></i></button>
                        <a asp-action="Details" asp-route-id="@Model.NetMovelId"><i class="far fa-caret-square-left  fa-2x"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>