@model UPtel.Models.NetMovel

@{
    ViewData["Title"] = "Details";
}



<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h1>Detalhe Pacote Internet Móvel</h1>
                <hr />
                <div>
                    
                        <dl class="row">
                            <dt class="col-sm-2 text-white">
                                @Html.DisplayNameFor(model => model.Limite)
                            </dt>
                            <dd class="col-sm-10 text-white">
                                @Html.DisplayFor(model => model.Limite)
                            </dd>
                            <dt class="col-sm-2 text-white">
                                @Html.DisplayNameFor(model => model.PrecoNetMovel)
                            </dt>
                            <dd class="col-sm-10 text-white">
                                @Html.DisplayFor(model => model.PrecoNetMovel)
                            </dd>
                            <dt class="col-sm-2 text-white">
                                @Html.DisplayNameFor(model => model.Numero)
                            </dt>
                            <dd class="col-sm-10 text-white">
                                @Html.DisplayFor(model => model.Numero)
                            </dd>
                            <dt class="col-sm-2 text-white">
                                @Html.DisplayNameFor(model => model.Notas)
                            </dt>
                            <dd class="col-sm-10 text-white">
                                @Html.DisplayFor(model => model.Notas)
                            </dd>
                        </dl>
                 
                    <div>
                        <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.NetMovelId">Editar</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.NetMovelId">Eliminar</a> |
                        <a class="btn btn-info" asp-action="Index">Voltar</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>