@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Index";
}

<section id="secondhero">
    <div class="leftPanel">

        <img src="~/bootstrap/assets/img/PromoAniv.png" style="width:100%; height:100vh; padding-left:10%; padding-top:10%;" />
    </div>
    <div class="rightPanel">
        <img src="~/bootstrap/assets/img/PromoTele2em1.png" style="width:100%; height:100vh; padding-right:10%; padding-top:10%" />
    </div>
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-8 text-white">
                <div>
                    <h2 class="font">Internet móvel</h2>
                    <br />

                    </div>
                    @if (User.IsInRole("Administrador"))
                    {
                        <p>
                            <a asp-action="Create"><i class="fas fa-folder-plus fa-3x"></i></a>
                        </p>
                    }
                    @if (Model.NetMovel.Count() == 0)
                    {
                        <p style="color:darkgray">Não existem canais para mostrar</p>
                    }
                    else
                    {
                        <table class="table table-borderless text-white">
                            <thead>
                                <tr>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.NetMovel[0].Nome)
                                    </th>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.NetMovel[0].PrecoNetMovel)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.NetMovel)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.PrecoNetMovel) €
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="Details" asp-route-id="@item.NetMovelId"><i class="fas fa-search-plus fa-2x"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                  

                    }
                  

                </div>

        </div>

        @*<div class="col-md-2">
                <img src="~/bootstrap/assets/img/UPtel_logo.png" style="width:100%; height:100vh; padding-right:10%; padding-top:10%" />

            </div>*@
    </div>
</section>