@model UPtel.Models.PromoNetMovel

@{
    ViewData["Title"] = "Details";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center text-white">
            <div class="col-xl-8 ">
                <h2 class="font">  Detalhes da Promoção de internet móvel</h2>

                <div>
                    <br /><br />
                    <dl class="row">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Limite)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.DescontoPrecoTotal)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.DescontoPrecoTotal)
                        </dd>
                    </dl>
                </div>
                <div class="float-right">
                    <a asp-action="Edit" asp-route-id="@Model.PromoNetMovelId"><i title="Editar" class="far fa-edit fa-2x"> &nbsp </i></a>
                    <a asp-action="Delete" asp-route-id="@Model.PromoNetMovelId"><i title="Apagar" class="far fa-trash-alt fa-2x imgEliminar"> &nbsp </i></a>
                    <a asp-action="Index"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                </div>
            </div>
        </div>
    </div>
</section>