@model UPtel.Models.Contratos

@{
    ViewData["Title"] = "Delete";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Tem a certeza que quer eliminar?</h2>
                <br />
                <div>
                    <dl class="row">
                        @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PromocaoId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PromocaoId)
                </dd>*@
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Numeros)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Numeros)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataInicio)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataInicio)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Fidelizacao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Fidelizacao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecoContrato)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecoContrato)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cliente.CodigoPostal)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Funcionario)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Funcionario.CodigoPostal)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pacote)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pacote.NomePacote)
                        </dd>
                    </dl>
                </div>
                <br /><br />
                <form class="d-flex justify-content-sm-between align-content-center col-10" asp-action="Delete">
                    <input type="hidden" asp-for="ContratoId" />
                    <button type="submit" class="btn btn-default btn-sm "><i title="Eliminar" class="far fa-trash-alt fa-2x imgEliminar"></i></button>
                    <a asp-action="Details" asp-route-id="@Model.ContratoId"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                </form>
            </div>
        </div>
    </div>
</section>