@model UPtel.Models.Contratos

@{
    ViewData["Title"] = "Eliminar contrato";
}



<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Tem a certeza que quer eliminar o contrato?</h2>
                <br />
                <div>
                    <dl class="row justify-content-center text-white">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.DataInicio)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.DataInicio)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Fidelizacao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Fidelizacao) meses
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Numeros)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Numeros)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.TempoPromocao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.TempoPromocao) meses
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.PrecoContrato)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoContrato) €
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Cliente.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Funcionario)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Funcionario.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Pacote)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Pacote.NomePacote)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Promocao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Promocao.Descricao)
                        </dd>
                    </dl>

                    <form class="d-flex justify-content-sm-between align-content-center col-10" asp-action="Delete">
                        <input type="hidden" asp-for="ContratoId" />
                        <button type="submit" class="btn btn-default btn-sm "><i class="far fa-trash-alt fa-2x imgEliminar"></i></button>
                        <a asp-action="Details" asp-route-id="@Model.ContratoId"><i class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>