@model UPtel.Models.Contratos

@{
    ViewData["Title"] = "Detalhes do contrato";
}

@*<style>
    .btn-costum {
        background-color: #00b371;
        color: white;
        border-color: #009961;
    }

        .btn-costum:hover {
            background-color: #009961;
            color: white;
            border-color: #009961;
        }
</style>*@

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left text-white">
            <div class="col-xl-8">

                <h2>Detalhes do contrato</h2>
                <hr />

                <div>
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.DataInicio)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.DataInicio)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Fidelizacao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Fidelizacao)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.TempoPromocao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.TempoPromocao)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.PrecoContrato)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoContrato)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Cliente.NomeCliente)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Funcionario)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Funcionario.NomeFuncionario)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Pacote)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Pacote.NomePacote)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Promocao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Promocao.Descricao)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.ContratoId">Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ContratoId">Eliminar</a> |
                    <a class="btn btn-info" asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>