@model UPtel.Models.Contratos

@{
    ViewData["Title"] = "Detalhes do contrato";
}



<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center  text-white">
            <div class="col-xl-8">

                <h2 class="font">Detalhes do contrato</h2>
                <br /><br />

                      <div>
                          <dl class="row d-flex justify-content-center text-center">
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.DataInicio)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.DataInicio)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.Fidelizacao)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.Fidelizacao) meses
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.Numeros)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.Numeros)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.TempoPromocao)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.TempoPromocao) meses
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.PrecoContrato)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.PrecoContrato) €
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.Cliente)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.Cliente.Nome)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.Funcionario)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.Funcionario.Nome)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.Pacote)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.Pacote.NomePacote)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.PromoNetFixa)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.PromoNetFixa.Nome)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.PromoNetMovel)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.PromoNetMovel.Nome)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.PromoTelefone)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.PromoTelefone.Nome)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.PromoTelemovel)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.PromoTelemovel.Nome)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.PromoTelevisao)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.PromoTelevisao.Nome)
                              </dd>
                          </dl>
                          <div class="float-right">
                              <a asp-action="Edit" asp-route-id="@Model.ContratoId"><i class="far fa-edit fa-2x"> &nbsp </i></a>
                              <a asp-action="Delete" asp-route-id="@Model.ContratoId"><i class="far fa-trash-alt fa-2x imgEliminar"> &nbsp </i></a>
                              <a asp-action="Index"><i class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                          </div>
                      </div>
            </div>
        </div>
    </div>
</section>