@model UPtel.Models.ContratoViewModel

@{
    ViewData["Title"] = "Edit";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Editar ontrato</h2>

                <br />

                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ContratoId" />
                            <div class="form-group">
                                <label asp-for="PromocaoId" class="control-label"></label>
                                <input asp-for="PromocaoId" class="form-control" />
                                <span asp-validation-for="PromocaoId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PacoteId" class="control-label"></label>
                                <select asp-for="PacoteId" class="form-control" asp-items="ViewBag.PacoteId"></select>
                                <span asp-validation-for="PacoteId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Numeros" class="control-label"></label>
                                <input asp-for="Numeros" class="form-control" />
                                <span asp-validation-for="Numeros" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fidelizacao" class="control-label"></label>
                                <input asp-for="Fidelizacao" class="form-control" />
                                <span asp-validation-for="Fidelizacao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoContrato" class="control-label"></label>
                                <input asp-for="PrecoContrato" class="form-control" />
                                <span asp-validation-for="PrecoContrato" class="text-danger"></span>
                            </div>
                            <h3>Promoções Net Fixa</h3>
                            <dl>
                                @for (int i = 0; i < Model.ListaPromoNetFixa.Count; i++)
                                {
                                    <div class="row">
                                        <dt>
                                            @Html.HiddenFor(x => Model.ListaPromoNetFixa[i].Id)
                                            @Html.DisplayFor(z => Model.ListaPromoNetFixa[i].Nome)&nbsp
                                        </dt>
                                        <dd>
                                            @Html.CheckBoxFor(z => Model.ListaPromoNetFixa[i].Selecionado)
                                        </dd>
                                    </div>
                                }
                            </dl>
                            <h3>Promoções Net Móvel</h3>
                            <dl>
                                @for (int i = 0; i < Model.ListaPromoNetMovel.Count; i++)
                                {
                                    <div class="row">
                                        <dt>
                                            @Html.HiddenFor(x => Model.ListaPromoNetMovel[i].Id)
                                            @Html.DisplayFor(z => Model.ListaPromoNetMovel[i].Nome)&nbsp
                                        </dt>
                                        <dd>
                                            @Html.CheckBoxFor(z => Model.ListaPromoNetMovel[i].Selecionado)
                                        </dd>
                                    </div>
                                }
                            </dl>
                            <h3>Promoções Telefone</h3>
                            <dl>
                                @for (int i = 0; i < Model.ListaPromoTelefone.Count; i++)
                                {
                                    <div class="row">
                                        <dt>
                                            @Html.HiddenFor(x => Model.ListaPromoTelefone[i].Id)
                                            @Html.DisplayFor(z => Model.ListaPromoTelefone[i].Nome)&nbsp
                                        </dt>
                                        <dd>
                                            @Html.CheckBoxFor(z => Model.ListaPromoTelefone[i].Selecionado)
                                        </dd>
                                    </div>
                                }
                            </dl>
                            <h3>Promoções Telemóvel</h3>
                            <dl>
                                @for (int i = 0; i < Model.ListaPromoTelemovel.Count; i++)
                                {
                                    <div class="row">
                                        <dt>
                                            @Html.HiddenFor(x => Model.ListaPromoTelemovel[i].Id)
                                            @Html.DisplayFor(z => Model.ListaPromoTelemovel[i].Nome)&nbsp
                                        </dt>
                                        <dd>
                                            @Html.CheckBoxFor(z => Model.ListaPromoTelemovel[i].Selecionado)
                                        </dd>
                                    </div>
                                }
                            </dl>
                            <h3>Promoções Televisão</h3>
                            <dl>
                                @for (int i = 0; i < Model.ListaPromoTelevisao.Count; i++)
                                {
                                    <div class="row">
                                        <dt>
                                            @Html.HiddenFor(x => Model.ListaPromoTelevisao[i].Id)
                                            @Html.DisplayFor(z => Model.ListaPromoTelevisao[i].Nome)&nbsp
                                        </dt>
                                        <dd>
                                            @Html.CheckBoxFor(z => Model.ListaPromoTelevisao[i].Selecionado)
                                        </dd>
                                    </div>
                                }
                            </dl>
                            <div class="form-group d-flex justify-content-sm-between align-content-center">
                                <button type="submit" class="btn btn-default btn-sm "><i title="Guardar" class="fas fa-folder-plus fa-3x"></i></button>
                                <a asp-action="Details" asp-route-id="@Model.ContratoId"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
                <div style="color:darkgray">
                    <a>Os campos marcados com * são de preenchimento obrigatório</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
