@model ListaCanaisViewModel


@{
    ViewData["Title"] = "Contratos";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-8 text-white">
                <div>
                    <h2 class="font">Contratos</h2>
                    <br />
                    <div class="col-md-10 border-info mb-4">
                        <div class="card-body">
                            <h5 class="card-title" style="color:darkgrey">Pesquisar contratos (Por Nome/NIF)</h5>
                            <form asp-action="Index" method="get">
                                <div class="form-group">
                                    <input name="nomePesquisar" class="form-control" placeholder="Ex: Bernardo" type="search" value="@Model.NomePesquisar" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                    <a asp-action="Index" class="btn btn-outline-light">Limpar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p>
                        <a asp-action="SelectUser"><i class="fas fa-folder-plus fa-3x"></i></a>
                    </p>
                    @if (Model.Contratos.Count() == 0)
                    {
                        <p style="color:darkgray">Não existem contratos a mostrar</p>
                    }
                    else
                    {
                        <table class="table table-borderless text-white">
                            <thead>
                                <tr>
                                    <th class="text-center titulo">
                                        Cliente
                                    </th>
                                    <th class="text-center titulo">
                                        Contribuinte
                                    </th>
                                    <th class="text-center titulo">
                                        Data de início
                                    </th>
                                    <th class="text-center titulo">
                                        Fidelização
                                    </th>
                                    <th class="text-center titulo">
                                        Preço do contrato
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Contratos)
                                {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Cliente.Contribuinte)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.DataInicio)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Fidelizacao) meses
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.PrecoContrato) €
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Details" asp-route-id="@item.ContratoId"><i class="fas fa-search-plus fa-2x"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</section>