@*@model IEnumerable<UPtel.Models.Contratos>*@
@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Index";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-8 text-white">
                <div>
                    <h2 class="font">Contratos</h2>
                    <br />
                    <div class="col-md-10 border-info mb-4">
                        <div class="card-body">
                            <h5 class="card-title" style="color:darkgrey">Pesquisar contratos (Por Nome/NIF)</h5>
                            <form asp-action="Index" method="get">
                                <div class="form-group">
                                    <input name="nomePesquisar" class="form-control" placeholder="Ex: Bernardo" type="search" value="@Model.NomePesquisar" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                    <a asp-action="Index" class="btn btn-outline-light">Limpar</a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <p>
                        <a asp-action="SelectUser"><i class="fas fa-folder-plus fa-3x"></i></a>
                    </p>

                    <div>
                        @if (Model.Contratos.Count() == 0)
                        {
                            <p style="color:darkgray">Não existem contratos para mostrar</p>
                        }
                        else
                        {
                        <table class="table table-borderless text-white">
                            <thead>
                                <tr>
                                    <th class="text-center titulo">
                                        Nome do Cliente
                                    </th>
                                    <th class="text-center titulo">
                                        NIF
                                    </th>
                                    <th class="text-center titulo">
                                        Data de Início
                                    </th>
                                    <th class="text-center titulo">
                                        Fidelização
                                    </th>
                                    <th class="text-center titulo">
                                        Preço
                                    </th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contratos in Model.Contratos)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.PromocaoId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.Numeros)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.DataInicio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.Fidelizacao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.PrecoContrato)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.Cliente.CodigoPostal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.Funcionario.CodigoPostal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.Pacote.NomePacote)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@contratos.ContratoId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@contratos.ContratoId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@contratos.ContratoId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        }
</div>
                </div>
            </div>
        </div>
    </div>
    </section>