@model IEnumerable<UPtel.Models.Contratos>

@{
    ViewData["Title"] = "Index";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1>Contratos</h1>

                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PromocaoId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Numeros)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fidelizacao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrecoContrato)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Funcionario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pacote)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PromocaoId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Numeros)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fidelizacao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecoContrato)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente.CodigoPostal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Funcionario.CodigoPostal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pacote.NomePacote)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ContratoId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.ContratoId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.ContratoId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>