@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Top 10 Operador por distrito";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Top 10 Clientes por distrito</h2>
                <br />
                <br /><br />
                <br />

                <form>
                    <h2>Top 10 Operadores</h2>
                    <div class="form-group">
                        <input name="distrito" placeholder="Ex: Lisboa" class="form-control" type="search" value="@Model.NomePesquisar" />
                        <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                        <a asp-action="MelhorOperadorDistrito" class="btn btn-outline-light">Limpar</a>

                    </div>
                </form>


                <div>
                    @if (Model.Users.Count() == 0)
                    {
                        <p>Não existem utilizadores.</p>
                    }
                    else
                    {

                        <table class="table table-borderless text-white">
                            <thead>
                                <tr>
                                    <th class="text-center titulo">
                                        Posição Distrito
                                    </th>
                                    <th class="text-center titulo">
                                        Nome
                                    </th>
                                    <th class="text-center titulo">
                                        Contribuinte
                                    </th>
                                    <th class="text-center titulo">
                                        Distrito
                                    </th>
                                    <th class="text-center titulo">
                                        Preço do Contrato
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Contratos.Count() < 10)
                                {
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Posicao)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Contribuinte)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.DistritoNome.DistritoNome)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.PrecoContratosFunc)
                                            </td>
                                            @*<td>
                                        <a asp-controller="Contratos" asp-action="DetailsMelhorCliente" asp-route-id="@item.ContratoId"><i title="Detalhes" class="fas fa-search-plus fa-2x"></i></a>
                                    </td>*@
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => Model.Users[i].Posicao)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => Model.Users[i].Nome)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => Model.Users[i].Contribuinte)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => Model.Users[i].DistritoNome.DistritoNome)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => Model.Users[i].PrecoContratosFunc)
                                            </td>
                                            @*<td>
                                        <a asp-controller="Contratos" asp-action="DetailsMelhorCliente" asp-route-id="@Model.Contratos[i].ContratoId"><i title="Detalhes" class="fas fa-search-plus fa-2x"></i></a>
                                    </td>*@
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                </div>
                @if (User.IsInRole("Administrador"))
                {
                    <div class="text-right">
                        <a asp-controller="Users" asp-action="Distrito"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                    </div>
                }
                @if (User.IsInRole("Operador"))
                {
                    <div class="text-right">
                        <a asp-controller="OperadorViewModel" asp-action="Index"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
