@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Contratos";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">
                <div>
                    <h2>Procurar Utilizador</h2>
                    <br />
                    <div class="col-md-8 border-info mb-6">
                        <div class="card-body">
                            <h5 class="card-title">Pesquisar contratos (Por Nome/NIF)</h5>
                            <form asp-action="SelectUser" method="get">
                                <div class="form-group">
                                    <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                    <a asp-action="Index" class="btn btn-outline-light">Limpar</a>
                                </div>
                            </form>
                        </div>
                    </div>

                        @if (Model.Users.Count() == 0)
                        {
                            <p>Por favor pesquise um utilizador</p>
                        }
                        else
                        {
                            <table class="table text-white">
                                <thead>
                                    <tr>
                                        <th>
                                            Nome do Cliente
                                        </th>
                                        <th>
                                            NIF
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var contratos in Model.Users)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => contratos.Contribuinte)
                                        </td>
                                        <td>
                                            <p>
                                                <a class="btn btn-costum" asp-action="Create" asp-route-id="@contratos.UsersId">Novo Contrato</a>
                                            </p>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                            @*<nav>
                                <ul class="pagination pagination-sm justify-content-end">
                                    @{
                                        int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                        if (paginaInicial < 1)
                                        {
                                            paginaInicial = 1;
                                        }

                                        int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                        if (paginaFinal > Model.Paginacao.TotalPaginas)
                                        {
                                            paginaFinal = Model.Paginacao.TotalPaginas;
                                        }
                                    }

                                    <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                                    </li>

                                    @for (int i = paginaInicial; i <= paginaFinal; i++)
                                    {
                                        <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                            <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                                        </li>
                                    }

                                    <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                                    </li>
                                </ul>
                            </nav>*@

                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>