@model UPtel.Models.Pacotes

@{
    ViewData["Title"] = "Detalhes dos pacotes de serviços";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center  text-white">
            <div class="col-xl-10">

                <h2 class="font">Detalhes dos pacotes de serviços</h2>

                <div>
                    <br />
                    <dl class="row d-flex justify-content-center text-center">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.NomePacote)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.NomePacote)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.PrecoTotal)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoTotal) €
                        </dd>
                        <dt class="col-sm-5 titulo">
                            Net Fixa
                        </dt>
                        <dd class="col-sm-7 ">
                            @Html.DisplayFor(model => model.NetIfixa.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            Net Móvel
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.NetMovel.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            Telemóvel
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Telemovel.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Telefone.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            Televisão
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Televisao.Nome)
                        </dd>
                    </dl>
                </div>
                @if (User.IsInRole("Administrador"))
                {
                    <div class="float-right">
                        <a asp-action="Edit" asp-route-id="@Model.PacoteId"><i class="far fa-edit fa-2x"> &nbsp </i></a>
                        <a asp-action="Delete" asp-route-id="@Model.PacoteId"><i class="far fa-trash-alt fa-2x imgEliminar"> &nbsp </i></a>
                        <a asp-action="Index"><i class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                    </div>
                }
                else
                {
                    <div class="float-right">
                        <a asp-action="Index"><i class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>