@model UPtel.Models.Pacotes

@{
    ViewData["Title"] = "Detalhes dos pacotes de serviços";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">
                <h1>Detalhes dos pacotes de serviços</h1>

                <div>
                   
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.NomePacote)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.NomePacote)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.PrecoTotal)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.PrecoTotal)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.NetIfixa)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.NetIfixa.TipoConexao)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.NetMovel)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.NetMovel.Numero)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.Telemovel)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.Telemovel.Numero)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.Telefone.Numero)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.Televisao)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.Televisao.Nome)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.PacoteId">Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.PacoteId">Eliminar</a> |
                    <a class="btn btn-info" asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>