@model UPtel.Models.Pacotes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pacotes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePacote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePacote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetIfixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetIfixa.TipoConexao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetMovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetMovel.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelemovelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelemovelNavigation.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Televisao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Televisao.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PacoteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
