@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Pacotes de serviços";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">
                <h2>Pacotes de serviços</h2>
                <br />

                <div class="col-md-6 border-info mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Pesquisar Pacotes de serviços</h5>
                        <form asp-action="Index" method="get">
                            <div class="form-group">
                                <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                <a asp-action="Index" class="btn btn-outline-light">Limpar</a>
                            </div>
                        </form>
                    </div>
                </div>
                <p>
                    <a class="btn btn-costum" asp-action="Create">Criar novo pacote de serviços</a>
                </p>
   
                @if (Model.Pacotes.Count() == 0)
                {
                    <p>Não existem pacotes de serviços a mostrar</p>
                }
                else
                {
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th>
                                   Nome do pacote
                                </th>
                                <th>
                                    Preço do pacote
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.Pacotes[0].NetIfixa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pacotes[0].NetMovel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pacotes[0].Telemovel)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pacotes[0].Telefone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pacotes[0].Televisao)
                                </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Pacotes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomePacote)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecoTotal)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.NetIfixa.TipoConexao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NetMovel.Numero)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telemovel.Numero)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefone.Numero)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Televisao.Nome)
                                    </td>*@
                                    <td>
                                        
                                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PacoteId">Detalhes</a> 
                                
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination pagination-sm justify-content-end">
                            @{
                                int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                if (paginaInicial < 1)
                                {
                                    paginaInicial = 1;
                                }

                                int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                if (paginaFinal > Model.Paginacao.TotalPaginas)
                                {
                                    paginaFinal = Model.Paginacao.TotalPaginas;
                                }
                            }

                            <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                            </li>

                            @for (int i = paginaInicial; i <= paginaFinal; i++)
                            {
                                <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                                </li>
                            }

                            <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>