@model IEnumerable<UPtel.Models.TipoClientes>

@{
    ViewData["Title"] = "Tipo de clientes";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h2>Tipo de clientes</h2>

                <p>
                    <a class="btn btn-costum" asp-action="Create">Adicionar tipo de cliente</a>
                </p>
                @if (Model.Count() == 0)
                {
                    <p>Não existem dados para mostrar</p>
                }
                else
                {
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Designacao)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tipo in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => tipo.Designacao)
                                    </td>
                                    <td class="text-right">
                                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@tipo.TipoClienteId">Editar</a> |
                                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@tipo.TipoClienteId">Detalhes</a> |
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@tipo.TipoClienteId">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</section>