@model UPtel.Models.PromoTelefone

@{
    ViewData["Title"] = "Details";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Detalhes da Promoção de Telefone do distrito @Model.DistritoNomes</h2>

                <div>
                    <br /><br />
                    <dl class="row">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Limite)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.DescontoMinNacional)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.DescontoMinNacional)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.DescontoMinInternacional)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.DescontoMinInternacional)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.DescontoPrecoTotal)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.DescontoPrecoTotal)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                        @if (User.IsInRole("Operador"))
                        {
                            <dt class="col-sm-5 titulo">
                                @Html.DisplayNameFor(model => model.Estado)
                            </dt>
                            <dd class="col-sm-7">
                                @Html.DisplayFor(model => model.Estado)
                            </dd>
                        }
                    </dl>
                </div>
                <br />
                <div class="float-right">
                    @if (User.IsInRole("Operador"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.PromoTelefoneId"><i title="Editar" class="far fa-edit fa-2x"> &nbsp </i></a>
                        <a asp-action="Estado" asp-route-id="@Model.PromoTelefoneId"><i title="Estado" class="far fa-trash-alt fa-2x imgEliminar"> &nbsp </i></a>
                    }
                    <a asp-action="Index"><i title="Voltar" class="far fa-caret-square-left fa-2x"> &nbsp </i></a>
                </div>
            </div>
        </div>
    </div>
</section>