@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Index";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Promoções televisão</h2>
                <div>
                    <br />
                    <div class="col-md-8 border-info mb-4">
                        <div class="card-body">
                            <h5 class="card-title" style="color:darkgray">Pesquisa de Promoções de Televisão</h5>
                            <form asp-action="Index" method="get">
                                <div class="form-group">
                                    <input name="nomePesquisar" class="form-control" type="search" placeholder="Ex. Básico" value="@Model.NomePesquisar" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                    <a asp-action="Index" class="btn btn-outline-light">Limpar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @if (User.IsInRole("Operador"))
                {
                    <p class="d-flex justify-content-sm-between align-content-center">
                        <a asp-action="SelectDistrito"><i title="Criar Novo" class="fas fa-folder-plus fa-3x"></i></a>
                        <a asp-action="PromoOff"><i title="Estado" class="fas fa-power-off fa-3x"></i></a>
                    </p>
                }
                @if (Model.PromoTelevisao.Count() == 0)
                {
                    <p>Não existem promoções para mostrar</p>
                }
                else
                {
                    <table class="table table-borderless text-white">
                        <thead>
                            <tr>
                                <th class="text-center titulo">
                                    @Html.DisplayNameFor(model => model.PromoTelevisao[0].Nome)
                                </th>
                                @*<th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.PromoTelevisao[0].CanaisGratis)
                                    </th>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.PromoTelevisao[0].DescontoPrecoTotal)
                                    </th>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.PromoTelevisao[0].Descricao)
                                    </th>*@
                                @if (User.IsInRole("Operador"))
                                {
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.PromoTelevisao[0].Estado)
                                    </th>
                                }
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PromoTelevisao)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.CanaisGratis)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DescontoPrecoTotal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descricao)
                                        </td>*@
                                    @if (User.IsInRole("Operador"))
                                    {
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Estado)
                                        </td>
                                    }
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.PromoTelevisaoId"><i title="Detalhes" class="fas fa-search-plus fa-2x"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination justify-content-end">
                            @{
                                int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                if (paginaInicial < 1)
                                {
                                    paginaInicial = 1;
                                }

                                int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                if (paginaFinal > Model.Paginacao.TotalPaginas)
                                {
                                    paginaFinal = Model.Paginacao.TotalPaginas;
                                }
                            }

                            <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                            </li>

                            @for (int i = paginaInicial; i <= paginaFinal; i++)
                            {
                                <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                                </li>
                            }

                            <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>