@model UPtel.Models.ReclamacaoViewModel

@{
    ViewData["Title"] = "Create";

}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1>Create</h1>

                <h4>Reclamacao</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="@Model.Assunto" class="control-label"></label>
                                <input asp-for="@Model.Assunto" class="form-control" />
                                <span asp-validation-for="@Model.Assunto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Descricao" class="control-label"></label>
                                <textarea rows="3" asp-for="@Model.Descricao" class="form-control"> </textarea>
                                <span asp-validation-for="@Model.Descricao" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>
