@model UPtel.Models.ReclamacaoViewModel

@{
    ViewData["Title"] = "Delete";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">

                <h2 class="font">Tem a certeza que quer eliminar esta reclamação?</h2>
                <br />
                <div>
                    <br />
                    <dl class="row justify-content-center text-white">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.NomeCliente)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.NomeCliente)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Assunto)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Assunto)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.ResolvidoOperador)
                        </dt>

                        @if (Model.ResolvidoOperador == true)
                        {
                            <dd class="col-sm-7">
                                Sim
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-7">
                                Não
                            </dd>
                        }

                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.ResolvidoCliente)
                        </dt>

                        @if (Model.ResolvidoCliente == true)
                        {
                            <dd class="col-sm-7">
                                Sim
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-7">
                                Não
                            </dd>
                        }

                    </dl>

                    <h3 class="font">Histórico de mensagens</h3>
                    <br />

                    @if (Model.ListaMensagens.Count != 0)
                    {
                        <table class="table text-white">
                            <thead>
                                <tr>
                                    <th class="text-center titulo">
                                        Nome
                                    </th>
                                    <th class="text-center titulo">
                                        Data
                                    </th>
                                    <th class="text-center titulo">
                                        Mensagem
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaMensagens)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @item.Nome
                                        </td>
                                        <td class="text-center">
                                            @item.DataFeedback
                                        </td>
                                        <td class="text-center">
                                            @item.Mensagem
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    }
                    else
                    {
                        <p style="color:darkgray">Não existem mensagens a mostrar</p>
                    }

                    <form class="d-flex justify-content-sm-between align-content-center col-12" asp-action="Delete">
                        <input type="hidden" asp-for="ReclamacaoId" />
                        <button type="submit" class="btn btn-default btn-sm "><i title="Eliminar" class="far fa-trash-alt fa-2x imgEliminar"></i></button>

                        <a asp-action="Index"><i title="Voltar" class="far fa-caret-square-left fa-2x"> &nbsp </i></a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>