@model UPtel.Models.ReclamacaoViewModel

@{
    ViewData["Title"] = "Details";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Detalhes da Reclamação</h2>

                <div>
                    <br />
                    <dl class="row">
                        <dt class="col-sm-5 titulo">
                            Nome do cliente
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.NomeCliente)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Assunto)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Assunto)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            Descrição
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            Resolvido (Operador)
                        </dt>

                        @if (Model.ResolvidoOperador == true)
                        {
                            <dd class="col-sm-7">
                                Sim
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-7">
                                Não
                            </dd>
                        }

                    <dt class="col-sm-5 titulo">
                        Resolvido (Cliente)
                    </dt>

                        @if (Model.ResolvidoCliente == true)
                        {
                            <dd class="col-sm-7">
                                Sim
                            </dd>
                        }
                        else
                        {
                            <dd class="col-sm-7">
                                Não
                            </dd>
                        }

                    </dl>
                </div>

                <h2 class="font">Histórico de mensagens</h2>

                @if (Model.ListaMensagens.Count != 0)
                {
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th class="text-center titulo">
                                    Nome
                                </th>
                                <th class="text-center titulo">
                                    Data
                                </th>
                                <th class="text-center titulo">
                                    Mensagem 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaMensagens)
                            {
                                <tr>
                                    <td class="col-sm-7">
                                        @item.Nome
                                    </td>
                                    <td class="col-sm-7">
                                        @item.DataFeedback.Day/@item.DataFeedback.Month/@item.DataFeedback.Year
                                    </td>
                                    <td class="col-sm-7">
                                        @item.Mensagem
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                }
                else
                {
                    <p style="color:darkgray">Não existem mensagens a mostrar</p>
                }
                <div class="float-right">

                    @if (User.IsInRole("Operador"))
                    {
                        <a asp-action="Index"><i title="Voltar" class="far fa-caret-square-left fa-2x"> &nbsp </i></a>
                    }
                    @if (User.IsInRole("Cliente"))
                    {
                        <a asp-action="IndexCliente"><i title="Voltar" class="far fa-caret-square-left fa-2x"> &nbsp </i></a>
                    }

                </div>
            </div>
        </div>
    </div>
</section>