@model UPtel.Models.Reclamacao

@{
    ViewData["Title"] = "Details";
}



<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1 class="font">Detalhes da Reclamação</h1>
                <br /><br />

                      <div>
                          <dl class="row d-flex justify-content-center text-center">
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.NomeCliente)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.NomeCliente)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.Assunto)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.Assunto)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.Descriçao)
                              </dt>
                              <dd class="col-sm-7">
                                  @Html.DisplayFor(model => model.Descriçao)
                              </dd>
                              <dt class="col-sm-5 titulo">
                                  @Html.DisplayNameFor(model => model.Resolvido)
                              </dt>
                              @if (Model.Resolvido == true)
                              {
                                  <dd class="col-sm-7">
                                      Sim
                                  </dd>
                              }
                              else
                              {
                                  <dd class="col-sm-7">
                                      Não
                                  </dd>
                              }
                          </dl>

                          @if (Model.FeedbackDescricao != null)
                          {
                              <h1 class="font">Feedback</h1>

                              <dl class="row d-flex justify-content-center text-center">

                                  <dt class="col-sm-5 titulo">
                                      @Html.DisplayNameFor(model => model.FeedbackResolvido)
                                  </dt>
                                  @if (Model.FeedbackResolvido == true)
                                  {
                                      <dd class="col-sm-7">
                                          Sim
                                      </dd>
                                  }
                                  else
                                  {
                                      <dd class="col-sm-7">
                                          Não
                                      </dd>
                                  }

                                  <dt class="col-sm-5 titulo">
                                      @Html.DisplayFor(model => model.FeedbackData)
                                  </dt>
                                  <dd class="col-sm-7">
                                      @Html.DisplayFor(model => model.FeedbackDescricao)
                                  </dd>
                              </dl>

                              
                          }
                      </div>
                
                <div class="float-right">
                    @if (User.IsInRole("Operador"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.ReclamacaoId"><i title="Editar" class="far fa-edit fa-2x"> &nbsp </i></a>
                    }
                    @if (User.IsInRole("Operador"))
                    {
                        <a asp-action="Index"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                    }
                    else
                    {
                        <a asp-action="Create" asp-controller="Reclamacao"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>

                    }
                </div>

            </div>
        </div>
    </div>

</section>