@model IEnumerable<UPtel.Models.Reclamacao>
@{
    ViewData["Title"] = "IndexCliente";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Reclamações</h2>


                @if (Model.Any())
                {
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th class="text-center titulo">
                                    @Html.DisplayNameFor(model => model.Assunto)
                                </th>

                                <th class="text-center titulo">
                                    Resolvido
                                </th>
                                <th class="text-center titulo">
                                    @Html.DisplayNameFor(model => model.DataReclamacao)
                                </th>
                                <th class="text-center titulo"> Detalhes </th>
                                <th class="text-center titulo"> Respostas </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class="text-center">
                                        @if (item.PorResoponder == false && item.ResolvidoCliente == false)
                                        {
                                            <i class="fas fa-exclamation-triangle text-warning fixedIcon"></i><br>
                                        }
                                        @Html.DisplayFor(modelItem => item.Assunto)
                                    </td>

                                    @if (item.ResolvidoCliente == true)
                                    {
                                        <td class="text-center">
                                            Sim
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            Não
                                        </td>
                                    }
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.DataReclamacao)
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Details" asp-route-id="@item.ReclamacaoId"><i class="fas fa-search-plus fa-2x"></i></a>
                                    </td>

                                    <td class="text-center">
                                        @if (item.ResolvidoCliente == false)
                                        {
                                            <a class="btn btn-costum" asp-action="FeedbackCliente" asp-controller="Reclamacao" asp-route-id="@item.ReclamacaoId">Responder</a>
                                        }
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <div class="float-right">
                        <a asp-action="Index" asp-controller="ClientesViewModel"><i title="Voltar" class="far fa-caret-square-left fa-2x"></i></a>
                    </div>
                }
                else
                {
                    <p style="color:darkgray">Não existem contratos para mostrar</p>
                }
            </div>
        </div>
    </div>
</section>