@model IEnumerable<UPtel.Models.Reclamacao>

@{
    ViewData["Title"] = "Index";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1>Reclamações</h1>

        
                <table class="table">
                    <thead>
                        <tr>
                            @*<th>
                                @Html.DisplayNameFor(model => model.NomeCliente)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Assunto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ResolvidoOperador)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ResolvidoCliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataReclamacao)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.NomeCliente)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Assunto)
                            </td>
                            @if (item.ResolvidoOperador == true)
                            {
                                <td>
                                    Sim
                                </td>
                            }
                            else
                            {
                                <td>
                                    Não
                                </td>
                            }
                            @if (item.ResolvidoCliente == true)
                            {
                                <td>
                                    Sim
                                </td>
                            }
                            else
                            {
                                <td>
                                    Não
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.DataReclamacao)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ReclamacaoId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ReclamacaoId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ReclamacaoId">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>