@model UPtel.Models.Televisao

@{
    ViewData["Title"] = "Eliminar serviço de televisão";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">



                <h3 class="font">Tem a certeza que pretende eliminar o serviço de televisão?</h3>
                <br /><br />
                <div>

                    <dl class="row justify-content-center text-white">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.PrecoPacoteTelevisao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoPacoteTelevisao) €
                        </dd>
                    </dl>

                    <form class="d-flex justify-content-sm-between align-content-center col-10" asp-action="Delete">
                        <input type="hidden" asp-for="TelevisaoId" />
                        <button type="submit" class="btn btn-default btn-sm "><i class="far fa-trash-alt fa-2x imgEliminar"></i></button>
                        <a asp-action="Details" asp-route-id="@Model.TelevisaoId"><i class="far fa-arrow-alt-circle-left fa-2x"></i></a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>