@model UPtel.Models.TelevisaoViewModel

@{
    ViewData["Title"] = "Detalhes do serviço da televisão";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h1>Detalhes do serviço da televisão</h1>

                <div>
                    <br />
                    <dl class="row">
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.PrecoPacoteTelevisao)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.PrecoPacoteTelevisao)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            Canais
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @for (int i = 0; i < Model.ListaCanais.Count; i++)
                            {
                                @if (Model.ListaCanais[i].Selecionado == true)
                                {
                                    @Html.DisplayFor(z => Model.ListaCanais[i].Nome)
                                    <br />
                                }
                            }
                        </dd>
                    </dl>
                </div>
                @if (User.IsInRole("Administrador"))
                {
                    <div>
                        <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.TelevisaoId">Editar</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.TelevisaoId">Eliminar</a> |
                        <a class="btn btn-info" asp-action="Index">Voltar</a>
                    </div>
                }
                else
                {
                    <div>
                        <a class="btn btn-info" asp-action="Index">Voltar</a>
                    </div>
                }
                </div>
        </div>
    </div>
</section>