@model IEnumerable<UPtel.Models.Televisao>

@{
    ViewData["Title"] = "Televisão";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h2>Televisão</h2>

                <p>
                    <a asp-action="Create">Adicionar novo serviço de televisão</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrecoPacoteTelevisao)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecoPacoteTelevisao)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.TelevisaoId">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.TelevisaoId">Detalhes</a> |
                                <a asp-action="Delete" asp-route-id="@item.TelevisaoId">Eliminar</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
