@model UPtel.Models.Telefone

@{
    ViewData["Title"] = "Eliminar dados do telefone";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

  

                <h3>Tem a certeza que pretende eliminar os dados do telefone?</h3>
                <br />
                <div>
        
                    <dl class="row">

                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Limite)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.PrecoMinutoNacional)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.PrecoMinutoNacional)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.PrecoMinutoInternacional)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.PrecoMinutoInternacional)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.PrecoPacoteTelefone)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.PrecoPacoteTelefone)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="TelefoneId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.TelefoneId">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>