@model UPtel.Models.Telefone

@{
    ViewData["Title"] = "Detalhes do telefone";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h1>Detalhes do telefone</h1>

                <div>
                    
                    <br />
                    <dl class="row">
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Limite)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.PrecoMinutoNacional)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.PrecoMinutoNacional)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.PrecoMinutoInternacional)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.PrecoMinutoInternacional)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.PrecoPacoteTelefone)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.PrecoPacoteTelefone)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.TelefoneId">Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.TelefoneId">Eliminar</a> |
                    <a class="btn btn-info" asp-action="Index">Voltar</a>
               
                </div>
            </div>
        </div>
    </div>
</section>