@model UPtel.Models.Telefone

@{
    ViewData["Title"] = "Detalhes do telefone";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h2>Detalhes do telefone</h2>

                <div>
                    <h4>Telefone</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Limite)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecoMinutoNacional)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecoMinutoNacional)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecoMinutoInternacional)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecoMinutoInternacional)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.TelefoneId">Editar</a> |
                    <a asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>