@model UPtel.Models.Telefone

@{
    ViewData["Title"] = "Detalhes do telefone";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center  text-white">
            <div class="col-xl-8">

                <h1 class="font">Detalhes do telefone</h1>

                <div>

                    <br />
                    <dl class="row d-flex justify-content-center text-center">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Limite) minutos
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.PrecoMinutoNacional)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoMinutoNacional) €
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.PrecoMinutoInternacional)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoMinutoInternacional) €
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.PrecoPacoteTelefone)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoPacoteTelefone) €
                        </dd>
                    </dl>
                </div>
                @if (User.IsInRole("Administrador"))
                {
            <div class="float-right">
                <a asp-action="Edit" asp-route-id="@Model.TelefoneId"><i class="far fa-edit fa-2x"> &nbsp </i></a>
                <a asp-action="Delete" asp-route-id="@Model.TelefoneId"><i class="far fa-trash-alt fa-2x imgEliminar"> &nbsp </i></a>
                <a asp-action="Index"><i class="far fa-caret-square-left fa-2x"> &nbsp </i></a>

            </div>
                }
                else
                {
                    <div class="float-right">
                        <a asp-action="Index"><i class="far fa-caret-square-left fa-2x"></i></a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>