@model IEnumerable<UPtel.Models.Telefone>

@{
    ViewData["Title"] = "Inserir telefone";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">

                <h2>Telefone</h2>

                <p>
                    <a asp-action="Create">Inserir telefone</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Limite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrecoMinutoNacional)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrecoMinutoInternacional)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Limite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecoMinutoNacional)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecoMinutoInternacional)
                                </td>
                                <td class="text-right">
                                    <a asp-action="Edit" asp-route-id="@item.TelefoneId">Editar</a> |
                                    <a asp-action="Details" asp-route-id="@item.TelefoneId">Detalhes</a> |
                                    <a asp-action="Delete" asp-route-id="@item.TelefoneId">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>