@model IEnumerable<UPtel.Models.Telefone>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoMinutoNacional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoMinutoInternacional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoMinutoNacional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoMinutoInternacional)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TelefoneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TelefoneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TelefoneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
