@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Telefone";
}
<section id="secondhero">
    <div class="leftPanel">

        <img src="~/bootstrap/assets/img/PromoTelefone.png" style="width:100%; height:100vh; padding-left:10%; padding-top:10%;" />
    </div>
    <div class="rightPanel">
        <img src="~/bootstrap/assets/img/PromoTelefone.png" style="width:100%; height:100vh; padding-right:10%; padding-top:10%" />
    </div>
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-8 text-white">

                <h2 class="font">Telefone</h2>
                <br />

                <div class="col-md-10 border-info mb-4">
 
                </div>
                @if (User.IsInRole("Administrador"))
                {
                    <p>
                        <a asp-action="Create"><i class="fas fa-folder-plus fa-3x"></i></a>
                    </p>
                }
                @if (Model.Telefone.Count() == 0)
                {
                    <p style="color:darkgray">Não existem pacotes de serviços a mostrar</p>
                }
                else
                {
                    <table class="table table-borderless text-white">
                        <thead>
                            <tr>
                                <th class="text-center titulo">
                                    @Html.DisplayNameFor(model => model.Telefone[0].Nome)
                                </th>
                                <th class="text-center titulo">
                                    @Html.DisplayNameFor(model => model.Telefone[0].PrecoPacoteTelefone)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Telefone)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.PrecoPacoteTelefone) €
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Details" asp-route-id="@item.TelefoneId"><i class="fas fa-search-plus fa-2x"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    
                }
            </div>
        </div>
    </div>
</section>