@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Telefone";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">

                <h2>Telefone</h2>

                <p>
                    <a asp-action="Create">Inserir telefone</a>
                </p>
                @if (Model.Telefone.Count() == 0)
                {
                    <p>Não existem pacotes de serviços a mostrar</p>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Número de telefone
                                </th>
                                <th>
                                    Limite
                                </th>
                                <th>
                                    Preço por Minuto Nacional
                                </th>
                                <th>
                                    Preço por Minuto Internacional
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Telefone)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Numero)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Limite)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecoMinutoNacional)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrecoMinutoInternacional)
                                    </td>
                                    <td class="text-right">
                                        <a asp-action="Edit" asp-route-id="@item.TelefoneId">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.TelefoneId">Detalhes</a> |
                                        <a asp-action="Delete" asp-route-id="@item.TelefoneId">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination pagination-sm justify-content-end">
                            @{
                                int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                //int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS / 2;
                                if (paginaInicial < 1)
                                {
                                    paginaInicial = 1;
                                }

                                int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                //int paginaFinal = paginaInicial + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS - 1;
                                if (paginaFinal > Model.Paginacao.TotalPaginas)
                                {
                                    paginaFinal = Model.Paginacao.TotalPaginas;
                                }
                            }

                            <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                            </li>

                            @for (int i = paginaInicial; i <= paginaFinal; i++)
                            {
                                <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                                </li>
                            }

                            <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</section>