@model UPtel.Models.Promocoes

@{
    ViewData["Title"] = "Eliminar promoção";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                

                <h3>Tem a certeza que pretende eliminar a promoção?</h3>
                <div>
           
                    <dl class="row">
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.NomePromocao)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.NomePromocao)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.PromoCanais)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.PromoCanais)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Desconto)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Desconto)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="PromocaoId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.PromocaoId">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>