@model UPtel.Models.Canais

@{
    ViewData["Title"] = "Details";
}


<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h2>Detalhe Canais</h2>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <dl>
                            <dt class="text-white">
                                @Html.DisplayNameFor(model => model.NomeCanal)
                            </dt>
                            <dd class="text-white">
                                @Html.DisplayFor(model => model.NomeCanal)
                            </dd>
                            <dt class="text-white">
                                @Html.DisplayNameFor(model => model.PrecoCanais)
                            </dt>
                            <dd class="text-white">
                                @Html.DisplayFor(model => model.PrecoCanais)
                            </dd>
                        </dl>
                    </div>

                    <div class="col-md-6">
                        @if (Model.Foto != null)
                        {
                            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Foto)" class="img-fluid" style="width:50px;" />
                        }
                    </div>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.CanaisId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Index">Voltar</a>
                </div>

            </div>
        </div>
    </div>
</section>