@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Index";
}


@*<div class="border-info mb-4">
         <div class="card-body">
             <h5 class="card-title">Pesquisa de Canais</h5>
             <form asp-action="Index" method="get">
                 <div class="form-group">
                     <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                 </div>
                 <div class="form-group">
                     <input type="submit" value="Pesquisar" class="btn btn-primary" />
                     <a asp-action="Index" class="btn btn-secondary">Limpar</a>
                 </div>
             </form>
         </div>
    </div>*@




<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">

        <div class="row justify-content-center text-left">

            @*<div class="col-md-2">
            <img src="~/bootstrap/assets/img/UPtel_logo.png" style="width:100%; height:100vh; padding-left:10%; padding-top:10%" />

        </div>*@
            <div class="col-xl-8">
                <div>
                    <h2>Canais</h2>
                    <div class="col-md-6 border-info mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Pesquisa de Canais</h5>
                            <form asp-action="Index" method="get">
                                <div class="form-group">
                                    <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-dark" />
                                    <a asp-action="Index" class="btn btn-outline-dark">Limpar</a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <p>
                        <a class="btn btn-costum" asp-action="Create">Novo Canal</a>
                    </p>
                    @if (Model.Canais.Count() == 0)
                    {
                        <p>Não existem canais para mostrar</p>
                    }
                    else
                    {
                        <table class="table text-white">
                            <thead>
                                <tr>
                                    <th>
                                        Logo
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Canais[0].NomeCanal)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Canais[0].PrecoCanais)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var canais in Model.Canais)
                                {
                                    <tr>
                                        <td style="width:50px">
                                            @if (canais.Foto != null)
                                            {
                                                <img src="data:image/jpeg;base64, @Convert.ToBase64String(canais.Foto)" class="img-fluid" />
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => canais.NomeCanal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => canais.PrecoCanais)
                                        </td>
                                        <td class="text-right">
                                            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@canais.CanaisId">Editar</a> |
                                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@canais.CanaisId">Detalhes</a> |
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@canais.CanaisId">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <nav>
                            <ul class="pagination pagination-sm justify-content-end">
                                @{
                                    int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                    //int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS / 2;
                                    if (paginaInicial < 1)
                                    {
                                        paginaInicial = 1;
                                    }

                                    int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                    //int paginaFinal = paginaInicial + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS - 1;
                                    if (paginaFinal > Model.Paginacao.TotalPaginas)
                                    {
                                        paginaFinal = Model.Paginacao.TotalPaginas;
                                    }
                                }

                                <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                                </li>

                                @for (int i = paginaInicial; i <= paginaFinal; i++)
                                {
                                    <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                                    </li>
                                }

                                <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                                </li>
                            </ul>
                        </nav>

                    }
                </div>

            </div>
        </div>
            @*<div class="col-md-2">
                    <img src="~/bootstrap/assets/img/UPtel_logo.png" style="width:100%; height:100vh; padding-right:10%; padding-top:10%" />

                </div>*@
        </div>

</section>

@*<li>
        <form asp-action="Index" method="get" class="form ml-auto">
            <input name="nomePesquisar" class="form-control mr-sm-2" type="search" value="@Model.NomePesquisar" />
            <button type="submit" class="btn btn-outline-light">Search</button>
            <button asp-action="Index" class="btn btn-outline-light">Limpar</button>
        </form>
    </li>*@

