@model IEnumerable<UPtel.Models.Canais>

@{
    ViewData["Title"] = "Index";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-xl-8">
                <h2>Canais</h2>

                <p>
                    <a asp-action="Create">Novo Canal</a>
                </p>
                <table class="table text-left">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeCanal)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeCanal)
                                </td>
                                <td>
                                     <a asp-action="Edit" asp-route-id="@item.CanaisId" >Editar</a> |
                                    <a asp-action="Details" asp-route-id="@item.CanaisId">Detalhes</a> |
                                    <a asp-action="Delete" asp-route-id="@item.CanaisId">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>


