@model UPtel.Models.Users

@{
    ViewData["Title"] = "Delete";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">
                <h3>Tem a certeza que pretende eliminar o user?</h3>
                <div>
               
                    <dl class="row">
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Data)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Data)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.CartaoCidadao)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.CartaoCidadao)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Contribuinte)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Contribuinte)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Morada)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Morada)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.CodigoPostal)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.CodigoPostal)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Telemovel)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Telemovel)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Iban)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Iban)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.CodigoPostalExt)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.CodigoPostalExt)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Fotografia)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Fotografia)
                        </dd>
                        <dt class="col-sm-5 text-white">
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>
                        <dd class="col-sm-7 text-white">
                            @Html.DisplayFor(model => model.Tipo.Tipo)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="UsersId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a class="btn btn-info" asp-action="Index">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>