@model UPtel.Models.Users

@{
    ViewData["Title"] = "Delete";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Tem a certeza que pretende eliminar o user?</h2>
                <div>

                    <dl class="row">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Data)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Data)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.CartaoCidadao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.CartaoCidadao)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Contribuinte)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Contribuinte)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Morada)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Morada)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.CodigoPostal)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.CodigoPostal)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Telemovel)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Telemovel)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Iban)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Iban)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.CodigoPostalExt)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.CodigoPostalExt)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Fotografia)
                        </dt>
                        <dd class="col-sm-7">
                            @if (Model.Fotografia != null)
                            {
                                <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Fotografia)" class="img-fluid" style="width:50px;" />
                            }
                             else 
                            {
                                <img src="~/bootstrap/assets/img/placeholder.png" class="img-fluid" style="width:50px;" />
                            }
                            @*@Html.DisplayFor(model => model.Fotografia)*@
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Tipo.Tipo)
                        </dd>
                    </dl>
                    <form class="d-flex justify-content-sm-between align-content-center col-10" asp-action="Delete">
                        <input type="hidden" asp-for="UsersId" />
                        <button type="submit" class="btn btn-default btn-sm "><i title="Eliminar" class="far fa-trash-alt fa-2x imgEliminar"></i></button>
                        <a asp-action="Details" asp-route-id="@Model.UsersId"><i title="Voltar" class="far fa-caret-square-left fa-2x"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>