@model UPtel.Models.Users

@{
    ViewData["Title"] = "Details";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h1>Detalhes user</h1>

                <div class="row">
                    <br />
                    <div class="col-md-8">
                        <dl class="row">
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                Data de Nascimento
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Data)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.CartaoCidadao)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.CartaoCidadao)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Contribuinte)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Contribuinte)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Morada)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Morada)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.CodigoPostal)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.CodigoPostal)
                                -
                                @Html.DisplayFor(model => model.CodigoPostalExt)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Telefone)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Telefone)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Telemovel)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Telemovel)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Iban)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Iban)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Estado)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Estado)
                            </dd>
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Tipo)
                            </dt>
                            <dd class="col-sm-7 text-white">
                                @Html.DisplayFor(model => model.Tipo.Tipo)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="row">
                            <dt class="col-sm-5 text-white">
                                @Html.DisplayNameFor(model => model.Fotografia)
                            </dt>
                            <dd class="col-sm-7 text-white" style="width:150px;">
                                @if (Model.Fotografia != null)
                                {
                                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Fotografia)" class="img-fluid" />
                                }
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.UsersId">Editar</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.UsersId">Eliminar</a> |
                        <a class="btn btn-info" asp-action="Index">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>