@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Distrito";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Pesquisa por Distrito</h2>
                <br />
                <div class="col-md-12 border-info mb-4">
                    <div class="card-body">
                        <h5 class="card-title" style="color:darkgray">Pesquisar Por Distrito</h5>
                        <form asp-action="Distrito" method="get">
                            <div class="form-group">
                                <label for="nomePesquisar" class="control-label">Selecione o Distrito</label>
                                <select asp-for="@Model.NomePesquisar" class="form-control" type="search" asp-items="ViewBag.DistritoId"></select>
                                <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                            </div>
                        </form>


                            <form asp-action="Distrito" method="get">
                                <div class="form-group">
                                    <input name="distrito" placeholder="Ex: Lisboa" class="form-control" type="search" value="@Model.NomePesquisar" />
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                    <a asp-action="Distrito" class="btn btn-outline-light">Limpar</a>

                                </div>
                                <div class="form-group">
                                    <a asp-action="OperadoresDistrito" title="Operadores" class="btn btn-outline-light"><i> Operadores</i></a>
                                    <a asp-action="OperadoresClientes" title="Clientes" class="btn btn-outline-light">  <i>Clientes</i></a>
                                    <a asp-action="Top10Operador" title="Top 10 Operador" class="btn btn-outline-light"> <i>Top 10 Operador</i></a>
                                    <a asp-action="Top10Cliente" title="Top 10 Cliente" class="btn btn-outline-light"> <i>Top 10 Cliente</i></a>
                                    <a asp-action="MaisAntigo" title="Mais Antigos" class="btn btn-outline-light"><i>Top 10 Mais Antigos</i></a>
                                    <a asp-controller="Contratos" asp-action="MelhorCliente" class="btn btn-outline-light"><i title="Mais Antigos">Top 10 Melhores Clientes</i></a>
                                </div>
                            </form>
                    </div>
                </div>

                <br />

                <div>
                    @if (Model.Users.Count() == 0)
                    {
                        <p>Efetue uma pesquisa.</p>
                    }
                    else
                    {

                        <table class="table table-borderless text-white">
                            <thead>
                                <tr>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.Users[0].Nome)
                                    </th>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.Users[0].Contribuinte)
                                    </th>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.Users[0].DistritoNome)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Contribuinte)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DistritoNome.DistritoNome)
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.UsersId"><i title="Detalhes" class="fas fa-search-plus fa-2x"></i></a>
                                            </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination pagination-sm justify-content-end">
                                @{
                                    int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                    if (paginaInicial < 1)
                                    {
                                        paginaInicial = 1;
                                    }

                                    int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                    if (paginaFinal > Model.Paginacao.TotalPaginas)
                                    {
                                        paginaFinal = Model.Paginacao.TotalPaginas;
                                    }
                                }

                                <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                                </li>

                                @for (int i = paginaInicial; i <= paginaFinal; i++)
                                {
                                    <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                                    </li>
                                }

                                <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                                </li>
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
