@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Distrito";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    

    $(
        function () {
            let pA = false;
            let pB = false;
            let pC = false;
            let pD = false;
            //$("#pA").hide();
            $("#pB").hide();
            $("#pC").hide();
            $("#pD").hide();


            $("body").click(function (event) {
                target = event.target.id;
                switch (target) {
                    case ("h1A"):
                        if (pA == false) {
                            $("#pA").slideDown(1000);
                            pA = !pA;
                        } else {
                            $("#pA").slideUp(500);
                            pA = !pA;
                        }
                        break;
                    case ("h1B"):
                        if (pB == false) {
                            $("#pB").slideDown(1000);
                            pB = !pB;
                        } else {
                            $("#pB").slideUp(500);
                            pB = !pB;
                        }
                        break;
                    case ("h1C"):
                        if (pC == false) {
                            $("#pC").slideDown(1000);
                            pC = !pC;
                        } else {
                            $("#pC").slideUp(500);
                            pC = !pC;
                        }
                        break;
                    case ("h1D"):
                        if (pD == false) {
                            $("#pD").slideDown(1000);
                            pD = !pD;
                        } else {
                            $("#pD").slideUp(500);
                            pD = !pD;
                        }
                        break;
                }
            })

        })
</script>

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Pesquisa por Distrito</h2>
                <br />
                <div class="col-md-12 border-info mb-4">
                    <div class="card-body">
                       
                        @*<form asp-action="Distrito" method="get">
                                <div class="form-group">
                                    <label for="nomePesquisar" class="control-label">Selecione o Distrito</label>
                                    <select asp-for="@Model.NomePesquisar" class="form-control" type="search" asp-items="ViewBag.DistritoId"></select>
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                </div>
                            </form>*@


                    <form asp-action="Distrito" method="get">
                        <h2 id="h1A">Por Distrito</h2>
                        <div id="pA" class="form-group">
                            <input name="distrito" placeholder="Ex: Lisboa" class="form-control" type="search" value="@Model.NomePesquisar" />
                            <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                            <a asp-action="Distrito" class="btn btn-outline-light">Limpar</a>

                        </div>
                    </form>
                        <form asp-action="DistritoOperador" method="get">
                            <h2 id="h1B">Operadores</h2>
                            <div id="pB" class="form-group">
                                <input name="distrito" placeholder="Ex: Lisboa" class="form-control" type="search" value="@Model.NomePesquisar" />
                                <input type="submit" value="Pesquisar Operadores" class="btn btn-outline-light" />
                                <a asp-action="Distrito" class="btn btn-outline-light">Limpar</a>

                            </div>
                        </form><form asp-action="DistritoCliente" method="get">
                            <h2 id="h1C" >Clientes</h2>
                            <div id="pC" class="form-group">
                                <input name="distrito" placeholder="Ex: Lisboa" class="form-control" type="search" value="@Model.NomePesquisar" />
                                <input type="submit" value="Pesquisar Clientes" class="btn btn-outline-light" />
                                <a asp-action="Distrito" class="btn btn-outline-light">Limpar</a>
                            </div>
                        </form>

                        <form asp-controller="Contratos" asp-action="MelhorClienteDistrito" method="get">
                            <h2 id="h1D" >Top 10 Clientes</h2>
                            <div id="pD" class="form-group">
                                <input name="distrito" placeholder="Ex: Lisboa" class="form-control" type="search" value="@Model.NomePesquisar" />
                                <input type="submit" value="Top10Cliente" class="btn btn-outline-light" />
                                <a asp-action="Distrito" class="btn btn-outline-light">Limpar</a>
                            </div>
                        </form>

                        <nav class="nav-menu">
                            <ul>
                                <li class="drop-down">
                                    <a href="">Top utilizador</a>
                                    <ul style="background: #808080">
                                        <li>
                                            <a asp-action="MaisAntigo" title="Mais Antigos">Top 10 Mais Antigos</a>

                                        </li>
                                        <li>
                                            <a asp-controller="Contratos" asp-action="MelhorCliente">Top 10 Melhores Clientes</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <!--<form>
                            <div class="form-group">-->
                        @*<a asp-action="DistritoOperador" title="Operadores" class="btn btn-outline-light"><i> Operadores</i></a>
                            <a asp-action="DistritoCliente" title="Clientes" class="btn btn-outline-light">  <i>Clientes</i></a>*@
                        <!--<a asp-action="Top10Operador" title="Top 10 Operador" class="btn btn-outline-light"> <i>Top 10 Operador</i></a>
                                <a asp-action="Top10Cliente" title="Top 10 Cliente" class="btn btn-outline-light"> <i>Top 10 Cliente</i></a>
                                <a asp-action="MaisAntigo" title="Mais Antigos" class="btn btn-outline-light"><i>Top 10 Mais Antigos</i></a>
                                <a asp-controller="Contratos" asp-action="MelhorCliente" class="btn btn-outline-light"><i title="Mais Antigos">Top 10 Melhores Clientes</i></a>
                            </div>
                        </form>-->
                    </div>
                </div>

                <br />

                <div>
                    @if (Model.Users.Count() == 0)
                    {
                        <p>Efetue uma pesquisa.</p>
                    }
                    else
                    {

                        <table class="table text-white">
                            <thead>
                                <tr>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.Users[0].Nome)
                                    </th>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.Users[0].Contribuinte)
                                    </th>
                                    <th class="text-center titulo">
                                        @Html.DisplayNameFor(model => model.Users[0].DistritoNome)
                                    </th>
                                    <th class="text-center titulo"> Detalhes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Contribuinte)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DistritoNome.DistritoNome)
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="Details" asp-route-id="@item.UsersId"><i title="Detalhes" class="fas fa-search-plus fa-2x"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination pagination-sm justify-content-end">
                                @{
                                    int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                    if (paginaInicial < 1)
                                    {
                                        paginaInicial = 1;
                                    }

                                    int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                                    if (paginaFinal > Model.Paginacao.TotalPaginas)
                                    {
                                        paginaFinal = Model.Paginacao.TotalPaginas;
                                    }
                                }

                                <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                                </li>

                                @for (int i = paginaInicial; i <= paginaFinal; i++)
                                {
                                    <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                                    </li>
                                }

                                <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                                </li>
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
