@model UPtel.Models.PromoTelemovel

@{
    ViewData["Title"] = "Details";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1>Details</h1>

                <div>
                    <h4>PromoTelemovel</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LimiteMinutos)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LimiteMinutos)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LimiteSMS)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LimiteSMS)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DecontoPrecoMinNacional)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DecontoPrecoMinNacional)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DecontoPrecoMinInternacional)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DecontoPrecoMinInternacional)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DecontoPrecoSMS)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DecontoPrecoSMS)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DecontoPrecoMMS)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DecontoPrecoMMS)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DecontoPrecoTotal)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DecontoPrecoTotal)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.PromoTelemovelId">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>