@model UPtel.Models.Funcionarios

@{
    ViewData["Title"] = "Details";
}

<style>
    .btn-costum {
        background-color: #00b371;
        color: white;
        border-color: #009961;
    }

    .btn-costum:hover {
        background-color: #009961;
        color: white;
        border-color: #009961;
    }
</style>


<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">

                <h1>Detalhes</h1>

                <div>
                    <h4>Funcionários</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NomeFuncionario)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NomeFuncionario)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataNascimento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Contribuinte)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Contribuinte)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Morada)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Morada)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CodigoPostal)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CodigoPostal) @if (Model.CodigoPostalExt != null)
                            {<span>-</span> @Html.DisplayFor(model => model.CodigoPostalExt)}
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telemovel)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Telemovel)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CartaoCidadao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CartaoCidadao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Iban)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Iban)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.EstadoFuncionario)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.EstadoFuncionario)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Fotografia)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Fotografia)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cargo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cargo.NomeCargo)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.FuncionarioId">Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.FuncionarioId">Eliminar</a> |
                    <a class="btn btn-outline-dark" asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>