@model UPtel.Models.Telemovel

@{
    ViewData["Title"] = "Eliminar dados do telemóvel";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h2>Eliminar dados do telemóvel</h2>

                <h3>Tem a certeza que pretende eliminar os dados do telemóvel?</h3>
                <div>
                    <h4>Telemovel</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Numero)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Numero)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LimiteMinutos)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LimiteMinutos)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LimiteSms)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LimiteSms)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecoMinutoNacional)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecoMinutoNacional)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecoMinutoInternacional)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecoMinutoInternacional)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecoSms)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecoSms)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PrecoMms)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PrecoMms)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="TelemovelId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a asp-action="Index">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>