@model UPtel.Models.Telemovel

@{
    ViewData["Title"] = "Detalhes do telemóvel";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h1>Detalhes do telemóvel</h1>

                <div>
                    <br />
                    <dl class="row">
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.Numero)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.Numero)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.LimiteMinutos)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.LimiteMinutos)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.LimiteSms)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.LimiteSms)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.PrecoMinutoNacional)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.PrecoMinutoNacional)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.PrecoMinutoInternacional)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.PrecoMinutoInternacional)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.PrecoSms)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.PrecoSms)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.PrecoMms)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.PrecoMms)
                        </dd>
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.PrecoPacoteTelemovel)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.PrecoPacoteTelemovel)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.TelemovelId">Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.TelemovelId">Eliminar</a> |
                    <a class="btn btn-info" asp-action="Index">Voltar</a>
                  
                </div>
            </div>
        </div>
    </div>
</section>