@model UPtel.Models.ClientesViewModel

@{
    ViewData["Title"] = "Index";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center  text-white">
            <div class="col-xl-8">

                <h1 class="font">Detalhes do Contrato</h1>
                <br />

                <dl class="row d-flex justify-content-center text-center">
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.NomeFuncionario)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.NomeFuncionario)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.DataInicio)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.NumerosAssociados)
                    </dt>
                    @if (Model.NumerosAssociados == null)
                    {
                        <dd class="col-sm-7">
                            n/a
                        </dd>
                    }
                    else
                    {
                        <dd class="col-sm-7">
                            @Html.DisplayFor(modelItem => Model.NumerosAssociados)
                        </dd>
                    }

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.Fidelizacao)
                    </dt>
                    @if (Model.Fidelizacao == null)
                    {
                        <dd class="col-sm-7">
                            n/a
                        </dd>
                    }
                    else
                    {
                        <dd class="col-sm-7">
                            @Html.DisplayFor(modelItem => Model.Fidelizacao) meses
                        </dd>
                    }
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.PrecoContrato)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.PrecoContrato) €
                    </dd>
                </dl>
                <h1 class="font">Pacotes</h1>
                <dl class="row d-flex justify-content-center text-center">
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.NomePacote)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.NomePacote)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.NetFixaPacote)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.NetFixaPacote)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.NetMovelPacote)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.NetMovelPacote)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.TelemovelPacote)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.TelemovelPacote)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.TelefonePacote)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.TelefonePacote)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.TelevisaoPacote)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.TelevisaoPacote)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.PrecoPacote)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.PrecoPacote) €
                    </dd>
                </dl>

                <h1 class="font">Promoções</h1>
                <dl class="row d-flex justify-content-center text-center">
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.Desconto)
                    </dt>
                    @if (Model.Fidelizacao == null)
                    {
                        <dd class="col-sm-7">
                            Não tem promoções ativas
                        </dd>
                    }
                    else
                    {
                        <dd class="col-sm-7">
                            @Html.DisplayFor(modelItem => modelItem.Desconto) %
                        </dd>
                    }

                </dl>
                <a asp-action="Index" class="float-right"><i class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
            </div>
        </div>
    </div>
</section>