@model UPtel.Models.ClientesViewModel

@{
    ViewData["Title"] = "Index";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-8 text-white">

                <h1 class="font">Dados Pessoais de @Model.NomeCliente</h1>
                <br />
                <dl class="row d-flex justify-content-center text-center">
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.Fotografia)
                    </dt>
                    <dd class="col-sm-7">
                        @if (Model.Fotografia != null)
                        {
                            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Fotografia)" class="img-fluid" style="width:50px;" />
                        }
                    </dd>
                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.NomeCliente)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.NomeCliente)
                    </dd>

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.DataNascimento)
                    </dd>

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.CartaoCidadao)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.CartaoCidadao)
                    </dd>

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.NumeroContribuinte)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.NumeroContribuinte)
                    </dd>

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.Morada)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.Morada)
                    </dd>

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.CodiogoPostal)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.CodiogoPostal) - @Html.DisplayFor(modelItem => Model.ExtensaoCodigoPostal)
                    </dd>

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.Telefone)
                    </dd>

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.Telemovel)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.Telemovel)
                    </dd>

                    <dt class="col-sm-5 titulo">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.Email)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        Posição Nacional
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.Posicao)
                    </dd>
                    <dt class="col-sm-5 titulo">
                        Preço total do(s) contrato(s)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(modelItem => Model.PrecoContratos)
                    </dd>
                </dl>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-costum" asp-area="Identity" asp-page="/Account/Manage/SetPassword"><i class="fas fa-key fixedIcon"></i> Mudar Password</a>

                    <a class="btn btn-costum" asp-action="EditCliente" asp-controller="Users" asp-route-id="@Model.Id"><i class="far fa-edit fixedIcon"></i> Editar</a>


                </div>
                <br />
                <br />

                <h1 class="font">Contratos de @Model.NomeCliente</h1>
                <br />

                @if (Model.ListaContratos.Count() == 0)
                {
                    <p style="color:darkgray">Não existem contratos para mostrar</p>
                }
                else
                {
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th class="text-center titulo">
                                    Detalhes
                                </th>
                                <th class="text-center titulo">
                                    Nome do Pacote
                                </th>
                                <th class="text-center titulo">
                                    Preço
                                </th>
                                <th class="text-center titulo">
                                    Opções
                                </th>                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var contrato in Model.ListaContratos)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@contrato.PacoteId"><i class="fas fa-search-plus fa-2x"></i></a>
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => contrato.Pacote.NomePacote)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => contrato.PrecoContrato) €
                                    </td>
                                    @*<td class="text-center">
                                @Html.DisplayFor(modelItem => contrato.Posicao)
                            </td>*@
                                    <td class="text-center">
                                        <a class="btn btn-costum" asp-controller="Contratos" asp-action="EditVistaCliente" asp-route-id="@contrato.ContratoId">Editar Contrato</a> |
                                        <a class="btn btn-costum" asp-action="Create" asp-controller="Reclamacao" asp-route-id="@contrato.ContratoId"><i class="fas fa-exclamation-circle fixedIcon"></i>Enviar Reclamação</a>
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <a class="btn btn-costum" asp-action="IndexCliente" asp-controller="Reclamacao">Ver Reclamações</a>
            </div>
        </div>
    </div>
</section>