@model UPtel.Models.NetFixa

@{
    ViewData["Title"] = "Delete";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                @*<h2>Eliminar</h2>*@

                <h3>Tem a certeza que quer eliminar?</h3>
                <div>
                    @*<h4>Net Fixa</h4>*@
                    <br />
                    <dl class="row text-white">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Limite)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Velocidade)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Velocidade)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.TipoConexao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.TipoConexao)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.PrecoNetFixa)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoNetFixa)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Notas)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Notas)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="NetFixaId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.NetFixaId">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>