@model UPtel.Models.NetFixa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NetFixa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Velocidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Velocidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConexao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoConexao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NetFixaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
