@model UPtel.Models.NetFixa

@{
    ViewData["Title"] = "Details";
}


<section id="secondhero">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Detalhes Net Fixa</h2>
                <br /><br />
                <div>
                    <dl class="row">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Limite)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Limite) Gb
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Velocidade)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Velocidade) Mbps
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.TipoConexao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.TipoConexao)
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.PrecoNetFixa)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PrecoNetFixa) €
                        </dd>
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Notas)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Notas)
                        </dd>
                    </dl>
                </div>
                <br />
                @if (User.IsInRole("Administrador"))
                {
                    <div class="float-right">
                        <a asp-action="Edit" asp-route-id="@Model.NetFixaId"><i title="Editar" class="far fa-edit fa-2x"> &nbsp </i></a>
                        <a asp-action="Delete" asp-route-id="@Model.NetFixaId"><i title="Apagar" class="far fa-trash-alt fa-2x imgEliminar"> &nbsp </i></a>
                        <a asp-action="Index"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                    </div>
                }
                else
                {
                    <div class="float-right">
                        <a asp-action="Index"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>