@model IEnumerable<UPtel.Models.NetFixa>

@{
    ViewData["Title"] = "Index";
}



<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">

                <h1 class="font">Internet Fixa</h1>
                <br />
                @*@if (User.IsInRole("Administrador"))
                {*@
                    <p >
                        <a asp-action="Create"><i title="Criar Novo" class="fas fa-folder-plus fa-3x"></i></a>
                    </p>
                @*}*@
                    <br />
                    <table class="table table-borderless text-white">
                        <thead>
                            <tr>

                                <th class="text-center titulo">
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th class="text-center titulo">
                                    @Html.DisplayNameFor(model => model.TipoConexao)
                                </th>
                                <th class="text-center titulo">
                                    @Html.DisplayNameFor(model => model.PrecoNetFixa)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.TipoConexao)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.PrecoNetFixa)
                                    </td>
                                    <td>
                                        @*<a class="btn btn-costum" asp-action="Edit" asp-route-id="@item.NetFixaId">Editar</a>*@
                                        <a asp-action="Details" asp-route-id="@item.NetFixaId">Detalhes<i class="fas fa-search-plus fa-2x"></i></a>
                                        @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NetFixaId">Eliminar</a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</section>