@model UPtel.Models.PacoteCanais

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PacoteCanais</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canais.NomeCanal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Televisao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Televisao.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PacoteCanalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
